---
title: Altoros Spark for PCF (Beta)
owner: Partners
---

<p class="note warning">
<strong>WARNING! </strong>
The Altoros Spark for PCF tile is currently in beta and is intended for evaluation and test purposes only.
Do not use this product in a PCF production environment.
</p>

This documentation describes the Altoros Spark Service for Pivotal Cloud Foundry (PCF).
The Altoros Spark for PCF tile registers a service broker on PCF and exposes its service plans to the Marketplace.
Developers can provision Apache Spark cluster by creating service instances of certain service plan using Apps Manager
or the Cloud Foundry Command Line Interface (CF CLI).

## <a id='overview'></a>Overview

The Altoros Spark for PCF has the following key features:

* Fully-automated deployment and provisioning of an Apache Spark installation
* The ability to provision on-demand Apache Spark service instances in a cluster configuration

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Altoros Spark for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile Version</td>
        <td>v0.6.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>September 30, 2017</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v0.6.0</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.9.x, v.1.10.x, and v.1.11.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.9.x, v1.10.x, and v.1.11.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td>No</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

Altoros Spark for PCF has the following requirements:

+ [Elastic Runtime](https://network.pivotal.io/products/elastic-runtime) v1.9.x, 1.10.x or 1.11.x

+ [Ops Manager](https://network.pivotal.io/products/ops-manager) v.1.9.x, 1.10.x or 1.11.x

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to [Altoros Customer Support](mailto:pcftiles-support@altoros.com).
